body 
{
    background-color: #b9dfea;
}

#title 
{
    font-size: 40px;
    width: 100%;
    margin: 2% 5%;
    text-align: center;
    font-family: Georgia, sans-serif;
    color: #FFFFFF;
}

#loginDiv
{
    font-size: 30px;
    width: 40%;
    margin-left: 15%;
    padding: 25px;
    font-family: Georgia, sans-serif;
    background-color: rgba(178,178,178, .2);
    position: absolute;
    top: 240px; left: -80px;
    
}

#registerDiv
{
    font-size: 30px;
    width: 40%;
    margin-left: 15%;
    padding: 25px;
    font-family: Georgia, sans-serif;
    background-color: rgba(178,178,178, .2);
    position: absolute;
    top: 240px; left: -80px;
    
}

#loggedInDiv
{
    font-size: 30px;
    width: 30%;
    margin-left: 15%;
    padding: 25px;
    background-color: #b2b2b2;
}

#accessUIDiv
{
    font-size: 30px;
    width: 70%;
    margin-left: 15%;
    padding: 25px;
    background-color: #b2b2b2;
}

.buttons
{
    font-size: 30px;
    border-radius: 25px;
    width: 50%;
    margin-left: 25%;
    font-family: Georgia, sans-serif;
}
.git{
    font-size: 30px;
    border-radius: 25px;
    margin-left: 25%;
    font-family: Georgia, sans-serif;}


.buttons:hover{
    background-color: #00d5124f;
    color: #FFFFFF;
    opacity: 50%;
}

#firstName
{
	font-size: 30px;
}

#lastName
{
	font-size: 30px;
}

#loginName
{
	font-size: 30px;
}
#loginPassword
{
	font-size: 30px;
}
#searchText
{
	font-size: 30px;
}
#colorText
{
	font-size: 30px;
}

input[type="text"],input[type="password"]{
    border-radius: 25px;
    text-align: left;
    width: 80%;
    margin-left: 10%;
    margin-bottom: 2%;
    font-family: Georgia, sans-serif;
}

#inner-title{
    display: inline-block;
    font-size: 0.8em;
    width: 90%;
    text-align: center;
    margin-left: 5%;
    margin-bottom: 2%;
    font-family: Georgia, sans-serif;
    color: #610464;
}
.rotate90 {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

#loginResult{
    display: inline-block;
    font-size: 0.8em;
    width: 90%;
    text-align: center;
    margin-left: 5%;
    margin-bottom: 2%;
    font-family: Georgia, sans-serif;
    color: #95060a;
}

#registerResult{
    display: inline-block;
    font-size: 0.8em;
    width: 90%;
    text-align: center;
    margin-left: 5%;
    margin-bottom: 2%;
    font-family: Georgia, sans-serif;
    color: #95060a;
}

#userName{
    display: inline-block;
    width: 80%;
    margin-left: 10%;
    text-align: center;
}

#logoutButton{
    width: 20%;
    margin-left: 40%;
}

select{
    width: 30%;
    margin-left: 35%;
    margin-top: 2%;
    font-size: 0.75em;
    font-family: Georgia, sans-serif;
}

#contactSearchResult{
    display: none;
}

#contactAddResult{
    display: inline-block;
    font-size: 0.8em;
    width: 90%;
    text-align: center;
    margin-left: 5%;
    margin-top: 2%;
    margin-bottom: 1%;
    font-family: Georgia, sans-serif;
    color: #95060a;
}
